{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<script src="{% static 'js/search.js' %}"></script>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="font-weight: bold; color: #FFA07A;">Tour</a>
        </div>
        <ul class="nav navbar-nav" style="color: white;">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="{% url 'web_travel:attractions' %}">Attractions</a></li>
            <li><a href="{% url 'web_travel:resturants' %}">Resturants</a></li>
            <li><a href="{% url 'web_travel:hotels' %}">Hotels</a></li>
            <li><a href="{% url 'web_travel:travel_information' %}">Travel Information</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>
                    <form method="post" action="{% url 'account:account_logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-sm btn-logout">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </button>
                    </form>
                </li>

            {% else %}
                <li><a href="{% url 'account:account_signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li><a href="{% url 'account:account_login' %}"><span class="glyphicon glyphicon-log-in"></span>
                    Login</a></li>
            {% endif %}

        </ul>
    </div>

    <h1 class=main_heading,
        style="font-style: oblique; text-align: center; font-weight:bold; font-size: 50px; color: white;">{{ country }}</h1>


</nav>
<main>
    <div class="row" style="margin: 0px">

        <h2 class="htlfndr-section-title" style="text-align: center;">Resturant {{ rest.resturant_name }}</h2>
        <div class="htlfndr-section-under-title-line"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 ">
            <article class="htlfndr-top-destination-block">
                <div class="htlfndr-content-block">
                    <img src="{{ rest.resturant_image.url }}" alt="room-1" width="100%" height="295">
                </div><!-- .htlfndr-content-block -->

            </article><!-- .htlfndr-top-destination-block -->
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 ">
            <article class="htlfndr-top-destination-block">
                <div class="htlfndr-content-block">
                    <img src="{{ rest.image1.url }}" alt="room-1" width="100%" height="295">
                </div><!-- .htlfndr-content-block -->

            </article><!-- .htlfndr-top-destination-block -->
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 ">
            <article class="htlfndr-top-destination-block">
                <div class="htlfndr-content-block">
                    <img src="{{ rest.image2.url }}" alt="room-1" width="100%" height="295">
                </div><!-- .htlfndr-content-block -->

            </article><!-- .htlfndr-top-destination-block -->
        </div>

    </div>
    <div style="text-align: center;">
        <h2 style="font-weight: bold; font-family: courier;">Hotel Reviews and Rating</h2>

        {% for fb in rest_rating %}
            <p>User: <b>{{ fb.user.username }}</b></p>
            <p>Review: <b>{{ fb.review }}</b></p>
            <rating>
                <div class="htlfndr-entry-rating-stars" style="font-size: 20px">
                    {% with ''|center:fb.rating as range  %}
                        {% for t in range %}
                            <i class="fa fa-star" style=" color: orange;"></i>

                        {% endfor %}
                    {% endwith %}
                </div>
            </rating>

        {% endfor %}

    </div>

</main>
{% if user.is_authenticated %}
    <h2 style="text-align: center">Please Rate the Hotel</h2>
    <div class="limiter" style="align-content: center; text-align: center">
        <div class="container-login100 login_container" >
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33" style="vertical-align: center">
                <form action="{% url 'web_travel:resturant_feedback' rest.id %}" method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" style="background-color: #555555; font-weight: bold; font-size: large">

                </form>
            <br>
            <br>

            </div>
        </div>
    </div>
{% else %}
    <h2 style="text-align: center; font-weight: bold; color: #ba2121"> Please Sign In to rate the Resturant</h2>
{% endif %}
</body>
</html>